.latest-section {
    display: flex;
    justify-content: center;
    background: #fff;
    border-radius: 5px;
    box-shadow: 0 1px 1px 0 rgb(0 0 0 / 10%);
    margin: 5px 15px 0 15px;
    width: 500px;
    height: 300px;
    padding: 10px;
    color: #333;
}

.latest-content-box {
    margin: 15px;
    background: #333;
    border-radius: 5px;
    color: #fff;
    width: 200px;
    padding: 15px;
    font-size: 13px;
    height: 230px;
}

.latest-title {
    font-weight: 700;
    margin-bottom: 5px;
}