* {
  font-family: "Open Sans", sans-serif;
  box-sizing: border-box;
  background: none;
  color: inherit;
  text-decoration: inherit;
  list-style-type: none;
  margin: 0;
  padding: 0;
  border: 0;
}

.body {
  background: #ebebeb;
  display: flex;
  flex-direction: column;
  align-items: center;
}
