* {
    box-sizing: border-box;
    background: none;
    color: inherit;
    text-decoration: inherit;
    list-style-type: none;
    margin: 0;
    padding: 0;
    border: 0;
}

.header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    box-shadow: 10px rgb(100, 100, 100);
}

.logo {
    width: 8%;
    margin: 10px;
}

.nav {

    margin-right: 10px;
    font-size: 15px;
    font-weight: bold;
}

.nav-list {
    display: flex;
    flex-direction: row;
}

.nav-list li {
    margin: 10px;
}