* {
    box-sizing: border-box;
    background: none;
    color: inherit;
    text-decoration: inherit;
    list-style-type: none;
    margin: 0;
    padding: 0;
    border: 0;
}

.header {
    background-color: white;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.logo {
    width: 10%;
}
