.totals-section {
    display: flex;
    justify-content: center;
}

.totals-content-box {
    background: #fff;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    margin: 30px;
    width: 300px;
    height: 90px;
    padding: 10px;
    color: #333;
    border-left: palevioletred solid 3px;
}

.totals-amount {
    font-size: 30px;
    text-align: center;
    margin: 10px;
}